VITE_ADK_BASE_URL="http://adk-api.localtest.me:8080"

VITE_ADK_PROVIDER_ID="983ab5fd-d7c9-0be1-77d9-442a68c5949e"

# Authentication
VITE_OIDC_ISSUER="http://keycloak.localtest.me:8080/realms/adk"
VITE_OIDC_CLIENT_ID="adk-ui"
VITE_OIDC_CLIENT_SECRET="adk-ui-secret"
